In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
IDS_MAPPING_DATA_PATH = '../data/IDS_mapping.csv'

In [4]:
ids_mapping_df = pd.read_csv(IDS_MAPPING_DATA_PATH)

In [5]:
ids_mapping_df.head(n=20)

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term h...
12,3,Discharged/transferred to SNF
13,4,Discharged/transferred to ICF
14,5,Discharged/transferred to another type of inpa...
15,6,Discharged/transferred to home with home healt...
16,7,Left AMA
17,8,Discharged/transferred to home under care of H...
18,9,Admitted as an inpatient to this hospital
19,10,Neonate discharged to another hospital for neo...

In [7]:
ids_mapping_df.shape

(67, 2)

In [8]:
ids_mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   admission_type_id  65 non-null     object
 1   description        62 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [6]:
ids_mapping_df.describe()

       admission_type_id description
count                 65          62
unique                32          58
top                    1  Not Mapped
freq                   3           2

In [9]:
ids_mapping_df.isna().sum()

admission_type_id    2
description          5
dtype: int64

In [19]:
ids_mapping_df[ids_mapping_df['admission_type_id'].isna() == True]['admission_type_id'] = ['888','999']

ValueError: Length of values (1) does not match length of index (2)

In [17]:
ids_mapping_df.isna().sum()

admission_type_id    2
description          5
dtype: int64