In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
IDS_MAPPING_DATA_PATH = '../data/IDS_mapping.csv'

In [3]:
ids_mapping_df = pd.read_csv(IDS_MAPPING_DATA_PATH)

In [4]:
ids_mapping_df.head(n=20)

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term h...
12,3,Discharged/transferred to SNF
13,4,Discharged/transferred to ICF
14,5,Discharged/transferred to another type of inpa...
15,6,Discharged/transferred to home with home healt...
16,7,Left AMA
17,8,Discharged/transferred to home under care of H...
18,9,Admitted as an inpatient to this hospital
19,10,Neonate discharged to another hospital for neo...

In [5]:
ids_mapping_df.shape

(67, 2)

In [6]:
ids_mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   admission_type_id  65 non-null     object
 1   description        62 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [7]:
ids_mapping_df.describe()

       admission_type_id description
count                 65          62
unique                32          58
top                    1  Not Mapped
freq                   3           2

In [19]:
ids_mapping_df.loc[ids_mapping_df['admission_type_id'] == 'admission_source_id']

      admission_type_id  description
41  admission_source_id  description

In [9]:
ids_mapping_df.drop(index=8, inplace=True)
ids_mapping_df.drop(index=9, inplace=True)

In [20]:
ids_mapping_df.drop(index=41, inplace=True)

In [22]:
ids_mapping_df['admission_type_id'].value_counts()

admission_type_id
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     2
10    2
11    2
12    2
13    2
14    2
15    2
17    2
18    2
19    2
21    2
20    2
22    2
23    2
25    2
24    2
26    2
16    1
30    1
27    1
28    1
29    1
Name: count, dtype: int64

In [23]:
ids_mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 66
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   admission_type_id  63 non-null     object
 1   description        60 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [27]:
ids_mapping_df.dropna(subset=['admission_type_id'], inplace=True)

In [30]:
ids_mapping_df['admission_type_id'] = ids_mapping_df['admission_type_id'].astype(int)
ids_mapping_df['description'] = ids_mapping_df['description'].astype(str)

In [31]:
ids_mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 0 to 66
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   admission_type_id  63 non-null     int64
 1   description        63 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [32]:
ids_mapping_df.to_csv('../data/IDS_mapping_cleaned.csv', index=False)